{block #content}
    <p n:isAllowed="location,streetEdit">
        <a n:href="Street:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat novou ulici</a>
    </p>
    {control gridStreet}
{/block}
