extensions:
    location: Dravencms\Location\DI\LocationExtension


nettrine.orm.annotations:
    mapping:
        Dravencms\Model\Location: %appDir%/../vendor/dravencms/location/src/Dravencms/Model/Location