{block #content}
    <p n:isAllowed="location,regionEdit">
        <a n:href="Region:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat nový region</a>
    </p>
    {control gridRegion}
{/block}
