{block #content}
    <p n:isAllowed="location,streetEdit">
        <a n:href="StreetNumber:edit" class="btn btn-primary"><i class="fa fa-plus"></i> Přidat nové číslo ulice</a>
    </p>
    {control gridStreetNumber}
{/block}
